BASE_URL=coloque-aqui-a-url-do-servidor-da-api-com-a-porta
ADMIN_EMAIL=coloque-aqui-o-email-do-usuario-admin
ADMIN_SENHA=coloque-aqui-a-senha-do-usuario-admin
FABIO_EMAIL=coloque-aqui-o-email-do-usuario-fabio
FABIO_SENHA=coloque-aqui-a-senha-do-usuario-fabio